div.photos {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
}

div.buttons {
  display: flex;
  button {
    margin-right: 10px;
  }
}

.fbasis {
  flex-basis: 50px;
  margin-right: 10px;
}
