$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$font-size: 13px;

div.photo {
  font-family: $font-stack;
  font-size: $font-size;
  display: flex;
  align-items: center;
  line-height: 2;
  margin: 10px 0;
  &.grayBackground {
    background: #c8c8c8;
  }
  div {
    margin: 0 10px;
  }
  label {
    color: $primary-color;
    padding: 2px 5px 2px 10px;
    &.borders {
      border: 1px solid gray;
      padding: 0 50px 0 10px;
    }
  }
  input {
    padding: 5px 20px;
    min-width: 500px;
    font-size: $font-size;
  }
  img {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
  }
}
